<div class="row text-center animated fadeInUp">
  <p class="tagline text-left">"Think secret santa, but for music makers all year round."</p>
  <%= image_tag("santa_cropped.png", alt: "give the sweet gift of creativity", size: "600x400")  %>
</div>
<div class="row animated fadeInUp">
  <div class="large-4 columns panel">
    <h4>1. Submit your stems</h4>
  </div>
  <div class="large-4 columns panel">
    <h4>2. Remix another track</h4>
  </div>
  <div class="large-4 columns panel">
    <h4>3. Share the love</h4>
  </div>
  <div class="row">
    <div class="small-centered small-3 columns">
      <% if @current_user && @current_user.id %>
          <%= link_to("Get Started", user_dashboard_path(@current_user), class: "button radius") %>
      <% else %>
        <a href="#getstarted" data-reveal-id="get-started-modal" class="button centered radius">Get Started</a>
      <% end %>
    </div>
  </div>
</div>

<div id="get-started-modal" class="reveal-modal remove-whitespace" data-reveal>
<div class="row">
    <div class="large-6 columns auth-plain">
      <div class="signup-panel left-solid">
        <%= render :partial => "sessions/login_form" %>
      </div>
    </div>

    <div class="large-6 columns auth-plain">
      <div class="signup-panel newusers">
        <p class="welcome"> New User?</p>
        <p>Signup to create and join remix circles with your music.</p>
        <%= link_to("Signup", new_user_path, class: "button newbie radius") %></br>
        <p>or</p>
        <div class="text-center">
          <%= link_to(new_sc_users_path) do %>
            <%= image_tag("http://connect.soundcloud.com/2/btn-connect-sc-l.png") %>
          <% end %>
        </div>
      </div>
    </div>

   </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
