<% if flash[:error] %>
  <div data-alert class="alert-box alert radius">
    <%= flash[:error][0] %>
    <%= flash[:error][1]%>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<%= form_for @current_user, builder: LabellingFormBuilder do |f| %>

  <%= f.text_field_with_label :first_name %>
  <%= f.text_field_with_label :last_name %>
  <%= f.text_field_with_label :user_name, required: true %>
  <%= f.text_field_with_label :location %>
  <%= f.label :avatar, "Image URL for profile pic (uploading coming soon)" %>
  <%= f.url_field :avatar %>
  <%= f.email_field_with_label :email, required: true %>
  <%= f.password_field_with_label :password_digest, required: true %>
  <%= f.password_field_with_label :password_confirmation, required: true %>
  <%= f.submit %>

<% end %>
