<div class="row">
  <h3><%= @submission.circle.name %></h3>

    <h4>Select one of your tracks below to submit as the remix to these stems - <%= @submission.original.track_name %></h4>

    <ul class="inline-list">
      <% @tracks.each do |track| %>
        <li>
          <%= simple_form_for @submission, url: circle_submission_path(circle_id: @submission.circle.id, id: @submission.id) do |f| %>
            <%= f.input :remix_id, as: :hidden, input_html: { value: track.id } %>
            <%= f.input :circle_id, as: :hidden, input_html: { value: params[:id] } %>
            <%= f.input :original_id, as: :hidden, input_html: { value: params[:stem_id] } %>
            <%= f.button :submit, "#{track.track_name}", disable_with: 'Submitting...', class: "round small" %>
          <% end %>
        </li>
      <% end %>
    </ul>

</div>
