<% if @circles.count == 0 %>

  <div class="text-center">
    <h2>No Circles created yet!</h2>
    <p>Be the first to <%= link_to("create a circle!") %></p>
  </div>

<% else %>

  <div class="row">
    <h2>All Circles</h2>
    <ul class="large-block-grid-4">

      <% @circles.each do |circle| %>
        <% days_to_signup = ((circle.signup_deadline - DateTime.now)/86400).floor %>
        <% days_to_submit = ((circle.submit_deadline - DateTime.now)/86400).floor %>
        <li>
          <% if circle.creator == @current_user %>
            <div class="circle-thumb my-circle">
          <% else %>
            <div class="circle-thumb">
          <% end %>

            <h3><%= "##{circle.id}-#{circle.name}" %></h3>
            <p>
              <% if circle.submissions.count == 1 %>
                <%= "1 member so far," %>
              <% else %>
                <%= "#{circle.submissions.count} members so far," %>
              <% end %>
            </p>

            <% if circle.creator == @current_user %>
              <% if days_to_signup < 0 && days_to_submit < 0 %>
                <p>FINISHED - <a href="#">view remixes</a></p>
              <% elsif days_to_signup < 0 && circle.has_member(@current_user) %>
                <p>In progress</p>
                <p><%=days_to_submit%> days left to <%= link_to("submit your remix", circle_path(circle)) %></p>
              <% elsif days_to_signup < 0 %>
                <p>In progress, <%=days_to_submit%> days until submission deadline.</p>
              <% else %>
                <p><%=days_to_signup%> days before signup deadline</p>
              <% end %>

              <p>created by: YOU</p>
              <p class="text-right">
                <%= link_to("Manage this circle", circle_path(circle)) %>
              </p>
            <% else %>
              <% if days_to_signup < 0 && days_to_submit < 0 %>
                <p>FINISHED - <a href="#">view remixes</a></p>
              <% elsif days_to_signup < 0 && circle.has_member(@current_user) %>
                <p>In progress</p>
                <p><%=days_to_submit%> days left to <%= link_to("submit your remix", circle_path(circle)) %></p>
              <% elsif days_to_signup < 0 %>
                <p>In progress, <%=days_to_submit%> days until remixes unveiled.</p>
              <% else %>
                <p><%=days_to_signup%> days left to <%= link_to("join!", circle_path(circle)) %></p>
              <% end %>
                <p>created by: <%= circle.creator.user_name %></p>
                <img src="<%= circle.creator.avatar %>" alt=<%= "#{circle.creator.user_name} profile pic" %>>
                <p class="text-right">
                  <%= link_to("More details", circle_path(circle)) %>
                </p>
            <% end %>

          </div>
        </li>
      <% end %>

      <% if @remaining_circles %>
        <li>
          <% if @circle_offset == 0 && @remaining_circles > 0 %>
            <%= link_to("More Circles ...(#{@remaining_circles})", user_dashboard_path(params[:id], :circle_offset => @circle_offset+5)) %>
          <% elsif @remaining_circles > 0 %>
            <%= link_to("Prev 5...", user_dashboard_path(params[:id], :circle_offset => @circle_offset-5)) %>
            <%= link_to("More Circles ...(#{@remaining_circles})", user_dashboard_path(params[:id], :circle_offset => @circle_offset+5)) %>
          <% else %>
            <%= link_to("Prev 5...", user_dashboard_path(params[:id], :circle_offset => @circle_offset-5)) %>
          <% end %>
        </li>
      <% end %>

    </ul>
  </div>

<% end %>
