<% if @circles.count == 0 %>

  <div class="text-center">
    <h2>No Circles created yet!</h2>
    <p>Be the first to <%= link_to("create a circle!") %></p>
  </div>

<% else %>

  <div class="row">
    <h2>All Circles</h2>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

      <% @circles.each do |circle| %>
        <li>
          <div class="<%= circle.div_class(@current_user) %>">

            <h3><%= "##{circle.id}-#{circle.name}" %></h3>
            <p>
              <%= circle.members_count %>
            </p>


            <% if circle.has_admin(@current_user) %>
              <% if circle.status == "finished" %>
                <p>FINISHED - <%= link_to("view remixes", circle_path(circle)) %></p>
              <% elsif circle.status == "in progress" && circle.has_member(@current_user) %>
                <p>In progress</p>
                <p><%= circle.days_to_submit %> days left to <%= link_to("submit your remix", circle_path(circle)) %></p>
              <% elsif circle.status == "in progress" %>
                <p>In progress, <%= circle.days_to_submit %> days until submission deadline.</p>
              <% else %>
                <p><%= circle.days_to_signup %> days before signup deadline</p>
              <% end %>

              <% if circle.creator == @current_user %>
                <p>created by: YOU</p>
              <% else %>
                <p>created by: <%= circle.creator.user_name %>, but you're an admin too!</p>
              <% end %>

              <p class="text-right">
                <%= link_to("Manage this circle", circle_path(circle)) %>
              </p>
            <% else %>
              <% if circle.status == "finished" %>
                <p>FINISHED - <%= link_to("view remixes", circle_path(circle)) %></p>
              <% elsif circle.status == "in progress" && circle.has_member(@current_user) %>
                <p>In progress</p>
                <p><%=circle.days_to_submit%> days left to <%= link_to("submit your remix", circle_path(circle)) %></p>
              <% elsif circle.status == "in progress" %>
                <p>In progress, <%=circle.days_to_submit%> days until remixes unveiled.</p>
              <% else %>
                <p><%=circle.days_to_signup%> days left to <%= link_to("join!", circle_path(circle)) %></p>
              <% end %>

              <p>created by: <%= circle.creator.user_name %></p>
              <img src="<%= circle.creator.avatar %>" alt=<%= "#{circle.creator.user_name} profile pic" %>>

              <p class="text-right">
                <%= link_to("More details", circle_path(circle)) %>
              </p>
            <% end %>

          </div>
        </li>
      <% end %>

      <% if @remaining_circles %>
        <li>
          <% if @circle_offset == 0 && @remaining_circles > 0 %>
            <%= link_to("More Circles ...(#{@remaining_circles})", user_dashboard_path(params[:id], :circle_offset => @circle_offset+UsersController::CIRCLE_OFFSET_DEFAULT)) %>
          <% elsif @remaining_circles > 0 %>
            <%= link_to("Prev #{UsersController::CIRCLE_OFFSET_DEFAULT}...", user_dashboard_path(params[:id], :circle_offset => @circle_offset-UsersController::CIRCLE_OFFSET_DEFAULT)) %>
            <%= link_to("More Circles ...(#{@remaining_circles})", user_dashboard_path(params[:id], :circle_offset => @circle_offset+UsersController::CIRCLE_OFFSET_DEFAULT)) %>
          <% elsif @circle_offset > 0 %>
            <%= link_to("Prev #{UsersController::CIRCLE_OFFSET_DEFAULT}...", user_dashboard_path(params[:id], :circle_offset => @circle_offset-UsersController::CIRCLE_OFFSET_DEFAULT)) %>
          <% end %>
        </li>
      <% end %>

    </ul>
  </div>

<% end %>
