<% if @circles.count == 0 %>

  <div class="text-center">
    <h2>No Circles created yet!</h2>
    <p>Be the first to <%= link_to("create a circle!", new_circle_path) %></p>
  </div>

<% else %>

  <h2>All Circles</h2>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 animated fadeInRight">

    <% @circles.each do |circle| %>
      <li>
        <div class="<%= circle.div_class(@current_user) %>">
          <div class="circle-pic">
            <%= image_tag(circle.creator.avatar_url, alt: "#{circle.creator.user_name} avatar pic") %>
          </div>
          <h3 class="circle-name text-center"><%= "##{circle.id}-#{circle.name}" %></h3>

          <div class="circle-texts">
            <%= link_to content_tag(:span, ""), "#{circle_path(circle)}" %>
              <p><%= circle.members_count %></p>
              <p><%= circle.deadline_message(@current_user) %></p>
              <p><%= circle.created_by_message(@current_user) %></p>
          </div>

        </div>
      </li>
    <% end %>
  </ul>

  <% if @remaining_circles %>
    <ul class="button-group radius right">
      <% if @circle_offset == 0 && @remaining_circles > 0 %>
        <li><%= link_to("More Circles...(#{@remaining_circles})", user_dashboard_path(params[:id], :circle_offset => @circle_offset+UsersController::CIRCLE_OFFSET_DEFAULT), class: "secondary button small hvr-icon-forward") %></li>
      <% elsif @remaining_circles > 0 %>
        <li><%= link_to("Prev #{UsersController::CIRCLE_OFFSET_DEFAULT}...", user_dashboard_path(params[:id], :circle_offset => @circle_offset-UsersController::CIRCLE_OFFSET_DEFAULT), class: "secondary button small hvr-icon-back") %></li>
        <li><%= link_to("More Circles...(#{@remaining_circles})", user_dashboard_path(params[:id], :circle_offset => @circle_offset+UsersController::CIRCLE_OFFSET_DEFAULT), class: "secondary button small hvr-icon-forward") %></li>
      <% elsif @circle_offset > 0 %>
        <li><%= link_to("Prev #{UsersController::CIRCLE_OFFSET_DEFAULT}...", user_dashboard_path(params[:id], :circle_offset => @circle_offset-UsersController::CIRCLE_OFFSET_DEFAULT), class: "secondary button small hvr-icon-back") %></li>
      <% end %>
    </ul>
  <% end %>


<% end %>
