<div class="row">
  <h2>All Circles</h2>
  <ul class="large-block-grid-4">

    <% @circles.each do |circle| %>
      <% days_to_signup = ((circle.signup_deadline - DateTime.now)/86400).floor %>
      <% days_to_submit = ((circle.submit_deadline - DateTime.now)/86400).floor %>
      <li>
        <div class="circle-thumb">
          <h3><%= "##{circle.id}-#{circle.name}" %></h3>

          <% if days_to_signup < 0 && days_to_submit < 0 %>
            <p>FINISHED - <a href="#">view remixes</a></p>
          <% elsif days_to_signup < 0 #and current user is subscribed (TODO)%>
            <p>In progress</p>
          <% else %>
            <p><%=days_to_signup%> days left to <a href="#">join!</a></p>
          <% end %>

          <p>created by: <%= circle.creator.user_name %></p>
          <img src="<%= circle.creator.avatar %>" alt="">
          <p class="text-right">
            <a href="#">view details</a>
          </p>
        </div>
      </li>
    <% end %>

    <li>
      <a href="#"><%= "More Circles ...(#{@remaining_circles})" %></a>
    </li>
  </ul>
</div>
