<h3>Create New Circle</h3>
<%= form_for @circle, builder: LabellingFormBuilder do |f| %>

  <%= f.text_field_with_label :name, required: true %>
  <%= f.datetime_field_with_label :signup_deadline, required: true %>
  <%= f.datetime_field_with_label :submit_deadline, default: 3.days.from_now, required: true %>
  <%= f.submit %>

<% end %>
