<h3><%= @circle.name %></h3>

  <% if @circle.status == "finished" %>
    <% if @circle.submissions.empty? != true %>
      <h4>Remixes</h4>
      <ol>
        <% @circle.submissions.each do |submission| %>
          <li>
            <ul class="inline-list">
              <% if submission.remix.nil? %>
                <li class="no-remix">
                  NO REMIX SUBMITTED!
                </li>
              <% else %>
                <li>
                  <%= link_to("#{submission.remix.track_name} by #{submission.remix.creator.user_name}", "#{submission.remix.download_url}") %>
                </li>
              <% end %>
              <li>
                <%= link_to("#{submission.original.track_name} by #{submission.original.creator.user_name}", "#{submission.original.download_url}") %>
              </li>
            </ul>
          </li>
        <% end %>
      </ol>
    <% else %>
      <p>This circle looks finished and empty!</p>
      <% if @circle.has_admin(@current_user) %>
        <ul class="inline-list">
          <li><%= link_to("Edit this circle", edit_circle_path(@circle)) %></li>
          <li><%= link_to("Delete this circle", circle_path(@circle) , method: :delete) %></li>
        </ul>
      <% end %>
    <% end %>


  <% else %>
    <% if @circle.status == "in progress" %>
      <% if @circle.needs_remix_from(@current_user.id) %>
        <h4>Waiting for your remix of...</h4>
        <%= link_to("#{@circle.allocated_stem(@current_user.id).track_name} - click to download",
                    "#{@circle.allocated_stem(@current_user.id).download_url}") %>
        <p>
          <%= link_to("Submit your remix!",
                      "#{edit_remix_path(id: @circle.id,
                                         stem_id: @circle.allocated_stem(@current_user.id).id)}") %>
        </p>
      <% end %>
    <% else %>
      <% if @submission %>
        <% if @current_user.stems.empty? %>
          <h4><%= link_to("Add a new stem", new_user_stem_path(@current_user)) %> to join this circle.</h4>
        <% else %>
          <h4>Join this circle with one of your stems below</h4>
          <ul class="inline-list">
            <% @stems.each do |stem| %>
              <li>
                <%= simple_form_for @submission, url: circle_submissions_path(circle_id: @circle, id: @submission) do |f| %>
                  <%= f.input :circle_id, input_html: { value: @circle.id }, as: :hidden %>
                  <%= f.input :original_id, input_html: { value: stem.id }, as: :hidden %>
                  <%= f.button :submit, "#{stem.track_name}", class: "round small" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>

    <h4>Current Members</h4>
    <ul>
      <% if @circle.has_member(@current_user) %>
        <li>You joined this circle with <%= @circle.stem_from(@current_user).original.track_name %> <%= link_to("- leave circle?", circle_submission_path(@circle, @circle.stem_from(@current_user)) , method: :delete) %></li>
      <% end %>
      <% @circle_members.each do |member| %>
        <% if @current_user != member %>
          <li><%= member.user_name %></li>
        <% end %>
      <% end %>
    </ul>

    <% if @circle.has_admin(@current_user) %>
      <ul class="inline-list">
        <li>
          <span class="has-tip tip-top radius" aria-haspopup="true" data-tooltip title="Allocate stems for remixing before signup deadline?">
            <%= link_to("Start mixup now", circle_mixup_path(id: @circle.id, circle_id: @circle.id) , method: :patch, data: { confirm: "Are you sure you want to activate this remix circle now with the current members and stems? (you can't undo this)" }) %>
          </span>
        </li>
        <li><%= link_to("Edit this circle", edit_circle_path(@circle)) %></li>
        <li><%= link_to("Delete this circle", circle_path(@circle) , method: :delete, data: { confirm: "Are you sure you want to delete this circle? (you can't undo this)" }) %></li>
      </ul>
    <% end %>
  <% end %>
