<footer class="footer">
  <div class="row full-width">
    <ul class="inline-list footer-links">
      <li><%=  link_to('<i class="fi-home"></i>'.html_safe, root_path) %></li>
      <li><%=  link_to('<i class="fi-info"></i>'.html_safe, "#") %></li>
      <li><%=  mail_to("ruskin.constant+mixupcontact@gmail.com", '<i class="fi-mail"></i>'.html_safe) %></li>
      <li><%=  link_to('<i class="fi-music"></i>'.html_safe, "#") %></li>
      <li><%=  link_to('<i class="fi-social-github"></i>'.html_safe, "#") %></li>
    </ul>
    <hr>
    <p class="text-center">© 2014 Ruskin Constant, all rights reserved</p>
  </div>
</footer>
