<footer class="footer">
  <div class="row full-width">
    <ul class="large-3 columns text-left">
      <li><%=  link_to('<i class="fi-home"></i>'.html_safe, root_path) %></li>
    </ul>
    <div class="large-6 columns">
      <p class="text-center">© 2014 Ruskin Constant, all rights reserved</p>
    </div>
    <ul class="large-3 columns text-right">
      <li><%=  link_to('<i class="fi-info"></i>'.html_safe, "#") %></li>
      <li><%=  mail_to("ruskin.constant+mixupcontact@gmail.com", '<i class="fi-mail"></i>'.html_safe) %></li>
      <li><%=  link_to('<i class="fi-music"></i>'.html_safe, "https://soundcloud.com/shayken") %></li>
      <li><%=  link_to('<i class="fi-social-github"></i>'.html_safe, "https://github.com/jonnyparris/mixup") %></li>
    </ul>
  </div>
</footer>
