<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if flash[:success] %>
      <div data-alert class="alert-box success radius">
        <%= flash[:success] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div data-alert class="alert-box alert radius">
        <%= flash[:error][0] %>
        <%= flash[:error][1]%>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
