<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Mixup - remix and get remixed" %></title>
    <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="small-8 column">
        <h1><%= link_to("Mixup", root_path) %></h1>
        <h4>Remix & Get Remixed</h4>
      </div>
      <div class="small-4 column login-box">
        <ul>
          <% if @current_user && @current_user.id %>
            <p>Hello <b><%= @current_user.user_name %></b></p>
            <p><a href="#login" data-reveal-id="get-started-modal">Not you?</a></p>
          <% else %>
            <p><a href="#login" data-reveal-id="get-started-modal">Login/Signup</a></p>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row">
      <% if flash[:success] %>
        <div class="row">
          <div data-alert class="alert-box success radius">
            <%= flash[:success] %>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="row">
          <div data-alert class="alert-box alert radius">
            <%= flash[:error][0] %>
            <%= flash[:error][1]%>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      <% end %>
    </div>
      <%= yield %>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
