<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Dashboard - Mixup" %></title>
    <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to("Home", user_dashboard_path(@current_user)) %></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li class="has-dropdown">
              <a href="#">Circles</a>
              <ul class="dropdown">
                <li><%= link_to("Create Circle", new_circle_path) %></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">Tracks</a>
              <ul class="dropdown">
                <li><%= link_to("View My Stems", user_stems_path(@current_user)) %></li>
                <li><%= link_to("Add Stems", new_user_stem_path(@current_user)) %></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#"><%= @current_user.user_name %></a>
              <ul class="dropdown">
                <li><label><%= @current_user.user_name %> User Menu</label></li>
                <li><%= image_tag(@current_user.avatar.url(:thumb)) %></li>
                <li><%= link_to("My Account", edit_user_path(@current_user)) %></li>
                <li><%= link_to("Logout", logout_path) %></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="current-container columns">
      <% if flash[:success] %>
        <div data-alert class="alert-box success radius">
          <%= raw(flash[:success]) %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div data-alert class="alert-box alert radius">
          <%= flash[:error][0] %>
          <%= flash[:error][1]%>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
