<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Dashboard - Mixup" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <main class="inner-wrap">

        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1><%= link_to("Mixup", root_path) %></h1>
            </li>
          </ul>

          <section class="top-bar-section">
            <ul class="right">
              <li><a href="#">Messages</a></li>
              <li><%= link_to("Logout", logout_path) %></li>
            </ul>

            <ul class="left">
              <li><a href="#" class="left-off-canvas-toggle menu-icon">Menu</a></li>
              <li><%= link_to("Dashboard", user_dashboard_path(id: @current_user.id)) %></li>
            </ul>
          </section>
        </nav>

        <aside id="user-menu" class="left-off-canvas-menu">
          <% if @current_user.avatar %>
            <img src=<%= "#{@current_user.avatar}" %> alt="your profile picture">
          <% end %>

          <ul class="off-canvas-list">
            <li><label>User Menu</label></li>
            <li><%= link_to("Account", edit_user_path(id: @current_user.id)) %></li>
            <li><a href="#">Create Circle</a></li>
            <li><%= link_to("Add Stems", new_user_stem_path(user_id: @current_user.id)) %></li>
            <li><a href="#">Upload Remix</a></li>
          </ul>
        </aside>

        <div class="current-container">
          <% if flash[:success] %>
            <div data-alert class="alert-box success radius">
              <%= flash[:success] %>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
          <% if flash[:error] %>
            <div data-alert class="alert-box alert radius">
              <%= flash[:error][0] %>
              <%= flash[:error][1]%>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
          <%= yield %>
        </div>

        <a class="exit-off-canvas"></a>

      </main>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
